.bg-primary{
    background-image: linear-gradient(rgb(46, 2, 73), rgb(238, 29, 82), rgb(255, 115, 0), rgb(255, 205, 56))
}

.bg-contactF{
    background-image: linear-gradient(180deg, rgb(46, 2, 73), rgb(238, 29, 82));
    background-repeat: no-repeat;
}

.bg-transparent{
    backdrop-filter: blur(8px);
}

.bg-alert{
    background-color: rgba(38, 30, 43, 0.541);
    backdrop-filter: blur(20px);
}

.btn-close{
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 255, 255)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
}

.card{
    --bs-card-bg: transparent;
    --bs-card-border-color:  rgb(255, 255, 255);
    --bs-card-border-radius: 0.7rem;
    overflow: hidden;
}

.navbar-toggler{
    --bs-navbar-toggler-focus-width: 0rem;
}

.navbar-collapse{
    flex-grow: 0;
}

.hover-state:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}

.icon-size{
    font-size: 2.3rem!important;
}

@media screen and (min-width: 992px){
    .soft-icon-lg{
        font-size: 8rem!important;
    }
}